.stories-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    color: #22313f;

    .stories-header {
        padding-top: 30px;
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: auto;
        font-size: small;
        h1 {
            font-size: 5rem;
        }
    }

    @media (max-width: 700px) {
        .stories-header {
            width: 100%;
            padding: 1rem;
            flex-direction: column;
            text-align: center;
        
            p {
                font-size: 0.8rem;
                text-align: left;
            }
        }
    }

    .stories-title {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;


        .title {
            display: flex;
            align-items: center;
            gap: 50px;


            img {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;

            }

            h1 {
                font-size: 96px;
                font-weight: 100;
            }

            button {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                background-color: #22313f;
                border: none;
                font-size: 24px;
                cursor: pointer;

            }
        }
    }

    .stories-container {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        gap: 40px;

        .stories-box {
            padding: 15px;
            height: 100px;
            border: 0.5px solid #22313f;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 20px;
            width: 90%;
            font-size: 18px;
        }
    }

    @media (max-width: 700px) {
        .stories-container {
            flex: 2;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            width: 80%;

            .stories-box {
                width: 100%;
                height: 100%;
                padding: 0.5rem 0.5rem 0.5rem 0.5rem;
                font-size: 0.8rem;
                border-radius: 0.5rem;
            }
        }
    }
}

.text-ring [style*=--index] {
    font-family: monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: calc(var(--font-size, 2) * 1rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:
      translate(-50%, -50%)
      rotate(calc(360deg / var(--total) * var(--index)))
      translateY(calc(var(--radius, 5) * -1ch));
  }