.about-container {
    max-width: 1200px;

    margin: 0 auto;
    padding: 0 15px;
}

.about-tabs {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 4rem;
}

.about-tabs__list {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

.about-tabs__trigger {
    font-size: 24px;
    line-height: 1.1em;
    font-weight: 500;
    background: transparent;
    border: 0;

    cursor: pointer;

    white-space: nowrap;
    overflow: scroll;

    @media (max-width: 860px) {
        font-size: 20px;
    }
}

.about-tabs__trigger[data-state='active'] {
    box-shadow: 0 1.2em 0 -0.45em #535bf2;
}

.about-tabs__content {
    font-size: 20px;
    line-height: 1.5rem;
    height: calc(1.5rem * 10);

    display: grid;
    align-content: start; /* prevent content from stretching */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.75rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        height: auto;
    }
}
