.about-heading {
    text-align: center;
    font-size: 48px;
}

.about-container {
    max-width: 1200px;

    margin: 0 auto;
    padding: 0 15px;
}

.about-container__center {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-nav {
    position: absolute;
    top: 0;

    width: 100vw;
}

.about-img-gallery {
    max-width: 680px;
    max-height: 680px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.about-img-gallery img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about-tabs {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 4rem;
}

.about-tabs__list {
    display: flex;
    justify-content: center;
    gap: 0.75rem;

    padding: 0 15px;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;

    @media (max-width: 680px) {
        justify-content: start;
        overflow: scroll;
        padding-bottom: 1rem;
    }
}

.about-tabs__list::-webkit-scrollbar {
    display: none;
}

.about-tabs__trigger {
    font-size: 24px;
    line-height: 1.1em;
    font-weight: 500;
    background: transparent;
    border: 0;
    color: white;

    cursor: pointer;

    white-space: nowrap;

    @media (max-width: 860px) {
        font-size: 20px;
    }
}

.about-tabs__trigger[data-state='active'] {
    box-shadow: 0 1.2em 0 -0.45em white;
}

.about-tabs__content {
    font-size: 20px;
    line-height: 1.5rem;
    height: calc(1.5rem * 10);

    display: grid;
    align-content: start; /* prevent content from stretching */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.75rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.about-host__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.about-host p {
    text-align: center;
    font-size: 20px;
    line-height: 1.2em;
}
