.video-wrapper {
    width: 100%;
    height: 100vh;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: opacity(25%) blur(5px);
    }

    .txt-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        top: 100%;
        gap: 30px;
        h1 {
            font-size: 100px;
            letter-spacing: 70px;
            margin-right: -70px;
        }

        h2 {
            display: flex;
            font-size: 15px;
            letter-spacing: 50px;
            margin-right: -50px;
        }
    }

}