html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "游明朝", "Yu Mincho", "游明朝体", YuMincho,
    "ヒラギノ明朝 Pro", "Hiragino Mincho ProN", "MS P明朝", "MS PMincho", HGS明朝E, "MS Mincho", serif;
}

body {
  background-color: #9AB3D3;
  color:white;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}