.navbar {
    height: 100px;

    .wrapper {
        max-width: 1000px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        padding: 0 30px;
        span {
            font-weight: bold;
            font-size: large;
            a {
                font-size: 18px;
            }
        }
    }

    @media (max-width: 500px) {
        .wrapper {
            width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .pages {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        span {
            display: none;
        }
    }


    .pages {
        font-weight: bold;
        display: flex;
        gap: 30px;
        a {
            font-size: 18px;
        }
    }
}