.banner-wrapper {
    .banner{
        max-width: 1000px;
        height: 100%;
        margin: auto;
        align-items: center;
        .txt-container {
            width: 100%;
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            text-align: center;
            h1 {
                align-items: center;
                font-size: 100px;
            }
            h2 {
                letter-spacing: 50px;
                margin-right: -50px;
                font-size: 15px;
            }
        }

        img {
            width: 4%;
        }

        .scroll-container {
            width: 100%;
            display: flex;
            justify-content: center;
            .scroll {
                width: 50px;
                height: 50px;
                border: 2px solid white;
                border-radius: 50%;
                &::before {
                    content: '';
                    position: absolute;
                    top: 14px;
                    left: 15px;
                    width: 15px;
                    height: 15px;
                    border-left: 2px solid white;
                    border-bottom: 2px solid white;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}