.banner-wrapper {
    .banner{
        max-width: 1000px;
        height: 100%;
        margin: auto;
        align-items: center;
        .txt-container {
            width: 100%;
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            text-align: center;
            h1 {
                align-items: center;
                font-size: 100px;
            }
            h2 {
                letter-spacing: 50px;
                margin-right: -50px;
                font-size: 15px;
            }
        }

        img {
            width: 4%;
        }
    }
}